
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Why?</h1>
      <p class="lead">
        Lots of time we need to do the same things over and over again, but the procedure is hard to remember.
      </p>
      <p>Fortunately, it's quite easy to find them, but sometimes you just want to Copy&Paste, so we are trying to keep it as simple as possible. I hope it helps you.</p>
    </div>
    <div class="col-md-4 well">
     
    </div>
  </div>
  
</div>
<div class="container">
  <h1>Content</h1>
  <ul>
    <li><a href="/tutorials/psql-user-create">Create Postgresql users</a></li>
    <li><a href="/tutorials/new-rails-4">Create Rails 4 app</a></li>
  </ul>
</div>


