
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Code Cheats</h1>
      <div class="row lead code-cheats" >
        <a href="/tutorials/psql-user-create"><div class="col-sm-6 col-xs-12">Create Postgresql users</div></a>
        <a href="/tutorials/new-rails-4"><div class="col-sm-6 col-xs-12">Create Rails 4 app</div></a>
        <a href="/tutorials/new-rails-4-heroku"><div class="col-sm-6 col-xs-12">Create Rails 4 app for Heroku</div></a>
        <a href="/tutorials/ror-describe-tables"><div class="col-sm-6 col-xs-12">Describe tables in Ruby on Rails</div></a>
        <a href="/tutorials/row-install-devise"><div class="col-sm-6 col-xs-12">Add Devise to Ruby on Rails</div></a>
        <a href="/tutorials/heroku-pgbackups"><div class="col-sm-6 col-xs-12">Import Remote Heroku Database to Local Machine</div></a>
        
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 well">
      <h1>OK, but why?</h1>
      <p class="lead">
        Lots of time we need to do the same things over and over again, but the procedure is hard to remember.
      </p>
      <p>Fortunately, it's quite easy to find them, but sometimes you just want to Copy&Paste, so we are trying to keep it as simple as possible. I hope it helps you.</p>
    </div>
  </div>
  
</div>

