<div class="jumbotron">
  <div class="container">
    <h1>Tini: Anda al teatro con el Leo!</h1>
    <p class="lead">Puede que sea bajito, pero no puedes negar que es motivado!</p>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <p class="lead">La invitación es a ir al teatro, cualquier día entre el 29 de octubre y el 3 de noviembre.</p>    
    </div>
    <div class="col-md-3">
      <p>Incluye la entrada pa la obra que te tinque más, una bonita comida y harto pa conversar =)</p>
    </div>
  </div>
  <div class="row"><div class="col-md-10 col-md-offset-1"><h2>Y, qué dices?</h2></div></div>
  <div class="row"><div class="col-md-10 col-md-offset-1">
  <div class="row">

    <div class="col-md-4 col-sm-12">
      <a class="btn btn-primary btn-block" href="yeah">Si! Obvio!</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a class="btn btn-info btn-block" href="yeah">Ya!! Bacán!</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a class="btn btn-success btn-block" href="yeah">Dale! Me encanta!</a>
    </div>
  </div>
  </div></div>
</div>
