
<div class="hero">
  <h1>Tini: anda al teatro con el Leo!</h1>
  <p class="lead">Puede que sea bajito, pero no puedes negar que es motivado!</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>La invitación es a ir al teatro, cualquier día entre el 29 de octubre y el 3 de noviembre.</p>
      <p>Incluye una bonita comida y harto pa conversar :P</p>
      <p class="lead" style="text-align:center">
      Y, qué dices?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <a class="btn btn-primary" href="yeah">Si!</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a class="btn btn-primary" href="yeah">Bacán!</a>
    </div>
    <div class="col-md-4 col-sm-12">
      <a class="btn btn-primary" href="yeah">Dale!</a>
    </div>
  </div>
</div>
