<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/app.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron">
  <div class="container">
    <h1><a href="/">Code Cheater</a></h1>
    <p class="lead">The same info you get anywhere else, but easier.</p>
  </div>
</div>
<%= yield %>

<footer>
  <div class="container">
  
    Code Cheater, by <a href="https://github.com/lomefin">Leonardo Luarte</a>.    
  
  </div>
</footer>
<script src="/js/var_listener.js"></script>
<script src="/js/project_namer.js"></script>
<script src="/js/storager.js"></script>
<script src="/js/uservoice.js"></script>
<script src="/js/app_startup.js"></script>
</body>
</html>
