<div class="container">
  <div class="hero">
    <h1>Yeah!!!</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">
        EEEEEh! Que bacán! Sólo dime cuando! (que aún no averiguo como hacer esa parte :P)
      </p>
    </div>
  </div>
</div>
