<section id="psql-user-create">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a name="psql"></a>
        <h1>Create PostgreSQL users on Linux</h1>
        <p>Based on: <a href="http://www.cyberciti.biz/faq/howto-add-postgresql-user-account/">PostgreSQL add or create a user account and grant permission for database [Cyberciti.biz]</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>To create the username, we need a Linux account, the username and a database name. We assume that the linux and postgresql account will have the same name.</p>
        <p>You'll need to add the username password in between.</p>
        <p>You need to become user postgres, it is expected that you are a sudoer</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ">
  <pre class="example-code">
  adduser <span class="var-drop" data-var="username"></span>
  passwd <span class="var-drop" data-var="username"></span>
  sudo su postgres
  psql
  </pre>
  <p>You are now in the PSQL terminal, add the following code:</p>
  <pre class="example-code">
  CREATE USER  <span class="var-drop" data-var="username"></span> WITH PASSWORD '<span class="var-drop" data-var="postsqlpwd"></span>';
  CREATE DATABASE <span class="var-drop" data-var="database"></span>;
  GRANT ALL PRIVILEGES ON DATABASE <span class="var-drop" data-var="database"></span> TO <span class="var-drop" data-var="username"></span>;
  </pre>
      </div>
      <div class="col-md-3 col-md-offset-1 well">
        <form id="psql">
          <div class="form-group">
            <label for="username">Linux and Postgresql username</label>
            <input type="text" class="form-control var-listener" id="username" placeholder="Enter username" />
          </div>
          <div class="form-group">
            <label for="postsqlpwd">Database user password</label>
            <input type="text" class="form-control var-listener" id="postsqlpwd" placeholder="Enter postgresql user password" data-method="password" />
          </div>
          <div class="form-group">
            <label for="database">Database name</label>
            <input type="text" class="form-control var-listener" id="database" placeholder="Enter database name" />
          </div>
        </form>
        <button class="form-control btn btn-block btn-warning project-namer-reset">Rename Variables</button>
      </div>
    </div>
  </div>
</section>
<script src="/js/psql.js"></script>