<section id="row-install-devise">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a name="psql"></a>
        <h1>Set Devise in Ruby on Rails</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>I only find that the README and the console output are a little confusing, so if you want a straigtforward setup, follow this steps.</p>
        <p>This way of seting up Devise is based on the <a href="https://github.com/plataformatec/devise">Devise Tutoral</a>, the console output and my personal preferences. Please send feedback if this doesn't work correctly.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Assumptions</h2>
        <p>Rails 4 is the most recent Rails</p>
        <p>You are on a Linux Machine (maybe works also on Mac)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 code-area">
        <div class="row">
          <div class="col-md-12">
            <h2>Gemfile</h2>
            <pre class="example-code">gem 'devise'</pre>
          </div>
          <div class="col-md-12">
            <h2>Console</h2>
            <pre class="example-code">
              rails generate devise:install
              rails generate devise User
              rails g devise:views
            </pre>
          </div>
          <div class="col-md-12">
            <h2>config/routes.rb</h2>
            <pre class="example-code">root 'welcome#index'</pre>
          </div>
          <div class="col-md-12">
            <h2>config/environments/development.rb</h2>
            <pre class="example-code">config.action_mailer.default_url_options = { host: 'localhost', port: 3000 }</pre>
          </div>
          <div class="col-md-12">
            <h2>Restart!</h2>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 well">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ">
      <pre class="example-code">
      mkdir <span class="var-drop" data-var="app-name"></span>
      cd <span class="var-drop" data-var="app-name"></span>
      rvm use <span class="var-drop" data-var="ruby-version"></span>@<span class="var-drop" data-var="app-name"></span> --create --ruby-version
      gem install rails --no-ri --no-rdoc
      rails new . --database=postgresql
      </pre>
      <p>The project is almost ready, but there are two things that must be also done. I always need to add <a href="https://rubygems.org/gems/therubyracer"> therubyracer Gem</a> and the rails12factor gem for heroku</p>
      <pre class="example-code">
      echo "gem 'rails_12factor', group: :production" >> Gemfile
      echo "gem 'therubyracer'" >> Gemfile  
      bundle
      </pre>
        <p>Your project is now bundled and ready to go, let me add you this simple lines so you start the right way ;)</p>
      <pre class="example-code">
      git init .
      git add .
      git commit -m "First commit"
      rails server
      </pre>
      <p>When done with these steps, you should link to heroku (I won't cover that here) and configure the postgresql in your development computer, as in the <a href="/tutorials/psql-user-create">PSQL User create</a> tutorial.</p>
      </div>
      <div class="col-md-3 col-md-offset-1 well">
        <form id="psql">
          <div class="form-group">
            <label for="app-name">Application Name</label>
            <input type="text" class="form-control var-listener" id="app-name" placeholder="Enter app name" value="" />
          </div>
          <div class="form-group">
            <label for="ruby-version">Ruby version</label>
            <select class="form-control var-listener" id="ruby-version" >
              <option  value="2.0.0" selected="selected">2.0.0</option>
              <option  value="1.9.2">1.9.2</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>










